{% load static %}
<!-- Start Footer aera -->
    <footer class="rbt-footer footer-style-1">
        <div class="footer-top">
            <div class="container">
                <div class="row row--15 mt_dec--30">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="{% static 'assets/images/logo/logo.png' %}" alt="Edu-cause">
                                </a>
                            </div>

                            <p class="description mt--20">ما همیشه به دنبال افراد با استعداد و با انگیزه هستیم. خجالت نکش خودت را معرفی کن!
                            </p>

                            <div class="contact-btn mt--30">
                                <a class="rbt-btn hover-icon-reverse btn-border-gradient radius-round" href="#">
                                    <div class="icon-reverse-wrapper">
                                        <span class="btn-text">تماس با ما</span>
                                        <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">لینک های مفید</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="12-marketplace.html">دمو بازار</a>
                                </li>
                                <li>
                                    <a href="04-kindergarten.html">مهد کودک</a>
                                </li>
                                <li>
                                    <a href="13-university-classic.html">دانشگاه</a>
                                </li>
                                <li>
                                    <a href="09-gym-coaching.html">مربیگری باشگاه</a>
                                </li>
                                <li>
                                    <a href="faqs.html">سوالات متداول</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">کمپانی ما</h5>
                            <ul class="ft-link">
                                <li>
                                    <a href="contact.html">تماس با ما</a>
                                </li>
                                <li>
                                    <a href="become-a-teacher.html">معلم شوید</a>
                                </li>
                                <li>
                                    <a href="blog.html">بلاگ</a>
                                </li>
                                <li>
                                    <a href="instructor.html">مربی</a>
                                </li>
                                <li>
                                    <a href="event-list.html">رویداد ها</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--30">
                        <div class="footer-widget">
                            <h5 class="ft-title">تماس بگیرید</h5>
                            <ul class="ft-link">
                                <li><span>تلفن:</span> <a href="#">(406) 555-0120</a></li>
                                <li><span>ایمیل:</span> <a href="mailto:hr@example.com">rainbow@example.com</a></li>
                                <li><span>لوکیشن:</span> آمریکای شمالی ، ایالات متحده آمریکا</li>
                            </ul>
                            <ul class="social-icon social-default icon-naked justify-content-start mt--20">
                                <li><a href="https://www.facebook.com/">
                                        <i class="feather-facebook"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.twitter.com">
                                        <i class="feather-twitter"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.instagram.com/">
                                        <i class="feather-instagram"></i>
                                    </a>
                                </li>
                                <li><a href="https://www.linkdin.com/">
                                        <i class="feather-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	    <!-- End Footer aera -->
    <div class="rbt-separator-mid">
        <div class="container">
            <hr class="rbt-separator m-0">
        </div>
    </div>