{% load static %} 
 <!-- Start Header Area -->
    <header class="rbt-header rbt-header-4">
        <div class="rbt-sticky-placeholder"></div>
        <!-- Start Header Top -->
        <div class="rbt-header-top rbt-header-top-1 variation-height-50 header-space-betwween bg-color-white border-top-bar-primary-color rbt-border-bottom d-none d-xl-block">
            <div class="container-fluid">
                <div class="rbt-header-sec align-items-center ">
                    <div class="rbt-header-sec-col rbt-header-left">
                        <div class="rbt-header-content">
                            <div class="header-info">
                                <ul class="rbt-information-list">
                                    <li>
                                        <a href="#"><i class="feather-phone"></i>021-88910043</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="rbt-separator"></div>
                            <div class="header-info">
                                <ul class="social-share-transparent">
                                    <li>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-whatsapp"></i></a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fab fa-telegram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="rbt-header-sec-col rbt-header-right">
                        <div class="rbt-header-content">
                            <div class="header-info">
                                <ul class="rbt-secondary-menu">
                                    <li><a href="#">سوالات متداول</a></li>
                                    <li><a href="contact.html">تماس با ما</a></li>
                                    <li><a href="privacy-policy.html">درباره ما </a></li>
                                </ul>
                            </div>
                            <div class="rbt-separator"></div>
                            <div class="header-info">
                                <div class="header-right-btn d-flex">
                                    <a class="rbt-btn rbt-switch-btn btn-gradient btn-xs" href="#">
                                        <span data-text="اکنون عضو شو">اکنون عضو شو</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->

        <div class="rbt-header-wrapper header-space-betwween bg-color-white header-sticky">
            <div class="container-fluid">
                <div class="mainbar-row rbt-navigation-start align-items-center">
                    <div class="header-left">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo/logo.png" alt="تصاویر آموزشی">
                            </a>
                        </div>
                    </div>
                    <div class="rbt-main-navigation d-none d-xl-block">
                        <nav class="mainmenu-nav">
                            <ul class="mainmenu">
                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="#">خانه</a>
                                </li>
                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="#">محصولات<i class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-4">
                                        <div class="wrapper">
                                            <div class="row row--15">
                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <h3 class="rbt-short-title">دما</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="about-us-01.html">درباره ما</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <h3 class="rbt-short-title">فشار</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="profile.html">پروفایل</a></li>
                                                        <li><a href="contact.html">تماس با ما</a></li>
                                                        <li><a href="become-a-teacher.html">معلم شوید</a></li>
                                                        <li><a href="instructor.html">مربی</a></li>
                                                        <li><a href="faqs.html">سوالات متداول</a></li>
                                                        <li><a href="privacy-policy.html">حریم خصوصی</a></li>
                                                        <li><a href="404.html">صفحه 404</a></li>
                                                        <li><a href="maintenance.html">در دست تعمیر</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <h3 class="rbt-short-title">ابعاد</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="shop.html">فروشگاه <span class="rbt-badge-card">تخفیف</span></a></li>
                                                        <li><a href="single-product.html">محصول تکی</a></li>
                                                        <li><a href="cart.html">صفحه سبد خرید</a></li>
                                                        <li><a href="checkout.html">تسویه حساب</a></li>
                                                        <li><a href="wishlist.html">صفحه لیست علاقه مندی ها</a></li>
                                                        <li><a href="my-account.html">اکانت من</a></li>
                                                        <li><a href="login.html">ورود و ثبت نام</a></li>
                                                        <li><a href="subscription.html">خبرنامه</a></li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-12 col-xl-3 col-xxl-3 single-mega-item">
                                                    <h3 class="rbt-short-title">الکتریک</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="shop.html">فروشگاه <span class="rbt-badge-card">تخفیف</span></a></li>
                                                        <li><a href="single-product.html">محصول تکی</a></li>
                                                        <li><a href="cart.html">صفحه سبد خرید</a></li>
                                                        <li><a href="checkout.html">تسویه حساب</a></li>
                                                        <li><a href="wishlist.html">صفحه لیست علاقه مندی ها</a></li>
                                                        <li><a href="my-account.html">اکانت من</a></li>
                                                        <li><a href="login.html">ورود و ثبت نام</a></li>
                                                        <li><a href="subscription.html">خبرنامه</a></li>
                                                    </ul>
                                                </div>
                                                <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="btn-wrapper">
                                                        <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none" href="#">
                                                            <span class="icon-reverse-wrapper">
                                        <span class="btn-text">تمام محصولات</span>
                                                            <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                                                            <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>

                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="#">المنت ها <i class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-3">
                                        <div class="wrapper">
                                            <div class="row row--15 single-dropdown-menu-presentation">
                                                <div class="col-lg-4 col-xxl-4 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="style-guide.html">راهنمای استایل <span class="rbt-badge-card">داغ</span></a></li>
                                                        <li><a href="accordion.html">آکاردئون</a></li>
                                                        <li><a href="advancetab.html">تب پیشرفت</a></li>
                                                        <li><a href="about.html">درباره ما <span class="rbt-badge-card">جدید</span></a></li>
                                                        <li><a href="brand.html">برند</a></li>
                                                        <li><a href="button.html">دکمه</a></li>
                                                        <li><a href="badge.html">نشان</a></li>
                                                        <li><a href="card.html">کارت</a></li>
                                                        <li><a href="call-to-action.html">کال تو اکشن</a></li>
                                                        <li><a href="#">و بیشتر به زودی</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-4 col-xxl-4 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="counterup.html">شمارنده</a></li>
                                                        <li><a href="category.html">دسته بندی ها</a></li>
                                                        <li><a href="header.html">استایل هدر</a></li>
                                                        <li><a href="newsletter.html">خبرنامه</a></li>
                                                        <li><a href="team.html">تیم</a></li>
                                                        <li><a href="social.html">شبکه اجتمایی</a></li>
                                                        <li><a href="list-style.html">استایل لیست</a></li>
                                                        <li><a href="gallery.html">گالری</a></li>
                                                        <li><a href="#">و بیشتر به زودی</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-4 col-xxl-4 single-mega-item">
                                                    <ul class="mega-menu-item">
                                                        <li><a href="pricing.html">قیمت گذاری</a></li>
                                                        <li><a href="progressbar.html">نوار پیشرفت</a></li>
                                                        <li><a href="testimonial.html">دیدگاه مردم</a></li>
                                                        <li><a href="service.html">خدمات</a></li>
                                                        <li><a href="split.html">منطقه تقسیم شده</a></li>
                                                        <li><a href="search.html">استایل جستجو</a></li>
                                                        <li><a href="instagram.html">استایل اینستاگرام</a></li>
                                                        <li><a href="#">و بیشتر در راه است</a></li>

                                                    </ul>

                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="btn-wrapper">
                                                        <a class="rbt-btn btn-gradient hover-icon-reverse square btn-xl w-100 text-center mt--30 hover-transform-none" href="#">
                                                            <span class="icon-reverse-wrapper">
                                        <span class="btn-text">بازدید از قالب های استادی</span>
                                                            <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                                                            <span class="btn-icon"><i class="feather-arrow-left"></i></span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>

                                <li class="with-megamenu has-menu-child-item position-static">
                                    <a href="#">مقالات <i class="feather-chevron-down"></i></a>
                                    <!-- Start Mega Menu  -->
                                    <div class="rbt-megamenu grid-item-3">
                                        <div class="wrapper">
                                            <div class="row row--15">
                                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                    <h3 class="rbt-short-title">دسته بندی مقالات</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="blog-list.html">لیست بلاگ</a></li>
                                                        <li><a href="blog.html">بلاگ گرید</a></li>
                                                        <li><a href="blog-grid-minimal.html">بلاگ گرید مینیمال</a></li>
                                                        <li><a href="blog-with-sidebar.html">بلاگ همراه با سایدبار</a></li>
                                                        <li><a href="blog-details.html">جزئیات بلاگ</a></li>
                                                        <li><a href="post-format-standard.html">چیدمان پست استاندارد</a></li>
                                                        <li><a href="post-format-gallery.html">چیدمان پست گالری</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                    <h3 class="rbt-short-title">جدیدترین مقالات</h3>
                                                    <ul class="mega-menu-item">
                                                        <li><a href="post-format-quote.html">چیدمان پست  نقل قولی</a></li>
                                                        <li><a href="post-format-audio.html">چیدمان پست صدا</a></li>
                                                        <li><a href="post-format-video.html">چیدمان پست ویدئویی</a></li>
                                                        <li><a href="#">رسانه تحت عنوان </a></li>
                                                        <li><a href="#">نوار کناری چسبنده <span class="rbt-badge-card">به زودی</span></a></li>
                                                        <li><a href="#">ماسونری اتوماتیک </a></li>
                                                        <li><a href="#">متا پوشش داده شده </a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-12 col-xl-4 col-xxl-4 single-mega-item">
                                                    <div class="rbt-ads-wrapper">
                                                        <a class="d-block" href="#"><img src="assets/images/calibration/peressuer.jpg" alt="Education Images"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Mega Menu  -->
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <!-- Navbar Icons -->
                        <ul class="quick-access">
                            <li class="access-icon rbt-user-wrapper right-align-dropdown">
                                <a class="rbt-round-btn" href="#">
                                    <i class="feather-user"></i>
                                </a>
                                <div class="rbt-user-menu-list-wrapper">
                                    <div class="inner">
                                        <div class="rbt-admin-profile">
                                            <div class="admin-thumbnail">
                                                <img src="assets/images/team/avatar.jpg" alt="User Images">
                                            </div>
                                            <div class="admin-info">
                                                <span class="name">فرهام اقدسی</span>
                                                <a class="rbt-btn-link color-primary" href="profile.html">دیدن پروفایل</a>
                                            </div>
                                        </div>
                                        <ul class="user-list-wrapper">
                                            <li>
                                                <a href="instructor-dashboard.html">
                                                    <i class="feather-home"></i>
                                                    <span>داشبورد من</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="feather-bookmark"></i>
                                                    <span>بوک مارک</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="instructor-enrolled-courses.html">
                                                    <i class="feather-shopping-bag"></i>
                                                    <span>دوره های ثبت نام</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="instructor-wishlist.html">
                                                    <i class="feather-heart"></i>
                                                    <span>لیست علاقه مندی ها</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="instructor-reviews.html">
                                                    <i class="feather-star"></i>
                                                    <span>نظرات</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="instructor-my-quiz-attempts.html">
                                                    <i class="feather-list"></i>
                                                    <span>تلاش های مسابقه من</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="instructor-order-history.html">
                                                    <i class="feather-clock"></i>
                                                    <span>تاریخچه سفارش</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="instructor-quiz-attempts.html">
                                                    <i class="feather-message-square"></i>
                                                    <span>پرسش و پاسخ</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <hr class="mt--10 mb--10">
                                        <ul class="user-list-wrapper">
                                            <li>
                                                <a href="#">
                                                    <i class="feather-book-open"></i>
                                                    <span>شروع به کار</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <hr class="mt--10 mb--10">
                                        <ul class="user-list-wrapper">
                                            <li>
                                                <a href="instructor-settings.html">
                                                    <i class="feather-settings"></i>
                                                    <span>تنظیمات</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html">
                                                    <i class="feather-log-out"></i>
                                                    <span>خروج از سیستم</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="access-icon rbt-mini-cart">
                                <a class="rbt-cart-sidenav-activation rbt-round-btn" href="#">
                                    <i class="feather-shopping-cart"></i>
                                    <span class="rbt-cart-count">4</span>
                                </a>
                            </li>
                            <li class="access-icon">
                                <a class="search-trigger-active rbt-round-btn" href="#">
                                    <i class="feather-search"></i>
                                </a>
                            </li>
                        </ul>
                        <!-- Start Mobile-Menu-Bar -->
                        <div class="mobile-menu-bar d-block d-xl-none">
                            <div class="hamberger">
                                <button class="hamberger-button rbt-round-btn">
                                    <i class="feather-menu"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Start Mobile-Menu-Bar -->
                    </div>
                </div>
            </div>
            <!-- Start Search Dropdown  -->
            <div class="rbt-search-dropdown">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <form action="#">
                                <input type="text" placeholder="دنبال چي ميگردي؟">
                                <div class="submit-btn">
                                    <a class="rbt-btn btn-gradient btn-md" href="#">جستجو</a>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="rbt-separator-mid">
                        <hr class="rbt-separator m-0">
                    </div>

                    <div class="row g-4 pt--30 pb--60">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h5 class="rbt-title-style-2">جدیدترین محصولات</h5>
                            </div>
                        </div>

                        <!-- Start Single Card  -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="rbt-card variation-01 rbt-hover">
                                <div class="rbt-card-img">
                                    <a href="course-details.html">
                                        <img src="assets/images/course/course-online-01.jpg" alt="تصویر کارد">
                                    </a>
                                </div>
                                <div class="rbt-card-body">
                                    <h5 class="rbt-card-title"><a href="course-details.html">ریکت Js</a>
                                    </h5>
                                    <div class="rbt-review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="rating-count"> (15 نظر)</span>
                                    </div>
                                    <div class="rbt-card-bottom">
                                        <div class="rbt-price">
                                            <span class="current-price">15<toman> تومان </toman></span>
                                            <span class="off-price">25<toman> تومان </toman></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->
                    </div>

                </div>
            </div>
            <!-- End Search Dropdown  -->
        </div>
    </header>